<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div #mapContainer class="map-container">
    <div id="right" class="sidebar flex-center right">
      <div class="sidebar-content rounded-rect flex-center">
        <div class="sidebar-content-inner">
          <div class="sidebar-body">
            <div class="sidebar-section">
                <button mat-button type="submit" class="button btn-volver">Volver</button>
                <button mat-button type="submit" class="button btn-validate collapsed">Validar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

