.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .btn {
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        transition: transform ease-out 0.2s;
        font-size: 15pt;

        background: #738FBF;
        box-shadow: 0px 4px 2px #446193;
        border-radius: 5px;
    
        // Fuente
        font-family: 'Gentium Basic';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    
        color: #FFFFFF;
    }

    .btn:focus {
        outline: none; 
    }

    .btn:hover { filter: brightness(110%); transform: scale(1.01); }
}