<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <h2 mat-dialog-title>El área seleccionada está ocupada</h2>
  <div mat-dialog-content>
    
    <p>La zona elegida entra en conflicto con otras zonas ya ocupadas.
      Por favor, seleccione otra zona.</p>
    <ul>
        <li>La zona elegida no debe contener ni intersecar con otras zonas en rojo.</li>
    </ul>
  </div>
  <br>
  <div mat-dialog-actions align="centre">
      <!-- <button class="btn" mat-button mat-dialog-close>Cerrar</button> -->
      <p>Haga click en el mapa de nuevo para elegir otra zona.</p>
  </div>  
</body>
