
<div class="bar-container">
  <div class="progress-bar">
    <div class="progress-bar-head">
      <div class="title">
        <p>SELECCIÓN DE UBICACIÓN</p>
        <div class="but-progress">?</div>
      </div>
      <span class="underline"></span>
    </div>
    <div class="progress-bar-body">
      <div class="fase">
        <div class="dot">
          <p>1</p>
        </div>
        <div class="nombre-fase">
          <p>Inicio</p>
        </div>
      </div>
      <span class="line"></span>
      <div class="fase">
        <div class="dot">
          <p>2</p>
        </div>
        <div class="nombre-fase">
          <p>Selección de ubicación</p>
        </div>
      </div>
      <span class="line"></span>
      <div class="fase">
        <div class="dot">
          <p>3</p>
        </div>
        <div class="nombre-fase">
          <p>Subida de documentos</p>
        </div>
      </div>
      <span class="line"></span>
      <div class="fase">
        <div class="dot">
          <p>4</p>
        </div>
        <div class="nombre-fase">
          <p>Confirmación</p>
        </div>
      </div>
    </div>
  </div>
</div>
